section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 400;
}
.section__text-p1{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;

}

#socials{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap:1rem;
}

.social-link{
    cursor: pointer;
    
}
/*image*/
img{
    border-radius: 50%;
    width:400px;
    height: 400px;
}

/*BUTTON*/
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    margin-top: 1.5rem;
    font-weight: 500;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2{
    border: rgb(83,83,83) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover{
    background: rgb(53,53,53);
    color: white;
}

.btn-color-1:hover{
    background: rgb(0,0,0);
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border:rgb(255,255,255) 0.1rem solid;
}